/* CSS Document */
/*******************************************************************************
 *                                                                             *
 *                    UNIVERSIDAD DE CUNDINAMARCA                              *
 *                             EXT CHIA                                        *
 *                    Empresa M&D software                                     *
 *                    Desarrolladores: Miguel Chaves                           *   
 *                                   : Deisy Peña                              *
 *                                   : Camilo Urrea                            *
 *                    Semestre  VI                                             *
 *                    Ingenieria de software 1                                 *
 *                    Nombre del proyecto: Pagina web de recetas colombianas   *
 *                                                                             *
 * Este es un archivo tipo css, nos permite dar estilos a los elementos de un  *
 * archivo html y nos permite crear clases para aplicar a diferentes elementos *
 * una y otra ves.															   *
 * 																			   *
 ******************************************************************************/
body
{
	background-image:url(../imagenes/fondo_verde_esmeralda.jpg);/*ponemos el fondo de tood el cuerpo con una imagen, tambien podemos ponerlo con el color que queramos*/
	bkacground-repeat:repeat;
}

h1, h2 
{
	font-family:Arial, Helvetica, sans-serif;
}/*damos formato de arial a todos los h1 y 2*/

#pagina_completa
{
	width:900px;/*900 es el tamaño estandar para una tablet */
	margin:20px auto;/*el auto es para poer a la derecha y la izq una margen automatica*/
	background-color:#FFF;/*pónemos el background en color blanco de la division de la pagina complera*/
	padding:0 40px;/*deja un espacio de 0 arriba ya abajo y pone uno de 40 pixeles a la izq y derecha*/
}
#logo
{
	float:left;	
	margin:50px 0 0 0;
}
#info
{
	font-family:Arial, Helvetica, sans-serif;
	float:right;	
	margin:70px 0px 0px 0px;/*arriba derecha abajo izquierda*/
}
#info ul li
{
	display:inline;/*pone los elementos no ordenados de la division social media horizontalmente*/
	list-style-type:none;/*pone los elementos no ordenados de la division social media sin ningun acompañante a la izq es decir sin bolitas o cuadritos */
	margin:10px;

}
#titulo
{
	clear:both;/*borramos los efectos de flotar a la izq o derecha de la division anterior apra q no nos afecte el titulo*/
	color:#2DAD01;
	text-align:center;
}
/*cunado el link esta sin visitar sea visitado o este activo sera le mismo color morado cunado se pase el mouse encima o se necesite enfocar cambiara a rosado*/
a:link 		{	color:#8000FF	}
a:visited 	{	color:#8000FF	}
a:active	{	color:#8000FF	}
a:hover		{	color:#FF91FF	}
a:focus		{	color:#FF91FF	}
#menu ul
{
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	border-top:1px #CCCCCC solid;
	padding:10px 0;
}


#menu ul li
{
	display:inline;	/*despliega los elementos de la lista no ordenada horizontalmente en ves de verticalmente*/
	list-style-type:none;/*pone los elementos no ordenados de la division social media sin ningun acompañante a la izq es decir sin bolitas o cuadritos */
	margin:10px;
}

#menu ul a
{
	text-decoration:none;/*para  qnoa paresca underline en el link*/
	font-weight:bold;
}

#imagenes
{
	margin:10px 0;/*10 pixeles de espacio arriba y abajo y 0 a los lados*/
}

#contenidoizq
{
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	width:400px;

}/*el contenido izq simpre flotara  ala izquierda y tendra un ancho de maximo 400px*/

#contenidoderecho
				{
					font-family:Tahoma, Geneva, sans-serif;
					float:right;
					width:400px;
				}
				
#contenidoizq h2
{
	color:#2DAD01;
}

#contenidoderecho h2
{
	color:#2DAD01;
}
#glosario
{
	clear:both;
	color:#2DAD01;
}
#glosario p
{
	color:#000;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
}				
#copyright
{
	border-top:1px #999999 solid;
	clear:both;
	margin:5px;
	text-align:center;	
}
